@font-face {
    font-family: Rubik;
    src: url(./assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-Light;
    src: url(./assets/fonts/Rubik-Light.ttf);
}


*{
    font-family: Rubik;
}